{% load static %}

{% load custom_filter %}

<nav class="bg-white shadow-md sticky top-0 z-50">
    <div class="container mx-auto px-4 py-4">
        <div class="flex items-center justify-between">
            <div class="flex items-center space-x-4">
                <a href="{% url 'back' %}" class="p-2 hover:bg-gray-100 rounded-lg transition-all">
                    <i class="fa-solid fa-arrow-left text-gray-600 text-2xl"></i>
                </a>
                <div>
                    <h1 class="text-2xl font-semibold text-gray-800">{{ course.course_code }} - {{ course.course_name }}</h1>
                    <p class="text-sm text-gray-500">{{ course.description }}</p>
                </div>
            </div>
            {% if user == course.created_by %}
            <a href="{% url 'prof_create_post_view' %}" class="px-4 py-2 bg-blue-600 text-white rounded-lg font-medium hover:from-blue-700 transition-all flex items-center">
                <i class="fa-solid fa-plus"></i>
                <span class="pl-2 hidden sm:inline">สร้างประกาศใหม่</span>
            </a>
            {% endif %}
        </div>
    </div>
</nav>